* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  margin: 15px;
  display: flex;
  flex-direction: row;
  float: inline-start;
  align-items: center;
  justify-content: space-between;
  box-shadow: black;
}
.logo {
  height: 60px;
}
.date {
  border-top: 2px solid #637fff;
  border-bottom: 2px solid #ff954f;
  border-radius: 10px;
  padding: 5px;
}
.doOne-wrapper {
 display: flex;
 flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-items: center;
  width: 100%;
 
}
.doOne-form {
  display: flex;
  justify-content: center;
  width: 60vw;
  
}
.input-box {
  padding-left: 5px;
  width: 60vw;
  height: 50px;
  font-size: 25px;
  border-radius: 20px;
  text-align: center;
  border-width: 1px;
}
.submit {
  height: 50px;
  width: 50px;
  background-color: rgb(0, 0, 0);
  color: white;
  font-size: 35px;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  border-style: none;
}
.submit:hover {
  background-color: rgb(65, 131, 65);
}

.list-item{
  list-style: none;
  display: flex;
  border: 1px solid blue;
  width:51vw;
  justify-content: space-between;
  margin-top: 15px;
  padding: 5px;
  border-radius: 5px;

}

.list-heading{
  margin-top: 10px;
  margin-bottom: 10px;
}
.icons-group{
  display: flex;
  
}
.icons{
  display: flex;
  padding-left: 10px;
   
}

 @media only screen and (max-width:600px){
  .input-box {
    padding-left: 5px;
    width: 50vw;
    height: 30px;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    border-width: 1px;
  }
  .submit {
    height: 30px;
    width: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    border-radius: 50%;
    margin-left: 10px;
    cursor: pointer;
    border-style: none;
  }
 } 